<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/report_logo.png">
    <title>Garantia de Qualidade</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/lib/toastr/toastr.min.css" rel="stylesheet">
    <link href="css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

      <!-- Accordion -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
                
            </nav>
        </div> 
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Platformas</span></a>
                            <ul aria-expanded="false" class="collapse">
                                    REPORT_PLATFORM_NAME
                            </ul>
                        </li>
                        <!-- <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Gráficos</span></a>
                            <ul aria-expanded="false" class="collapse">
                                    BUGS_PLATFORM_NAME
                            </ul>
                        </li> -->
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-8 align-self-center">
                    <h3 class="text-primary">Relatório de Qualidade</h3> </div>
                     <!-- Errorr Buttons -->
                     <div class="text-left">
                            <!-- BUTTON_DANGER_UNIT_TEST -->
                            <!-- BUTTON_DANGER_CONTRACT_TEST -->
                        </div>
        <!-- Errorr Buttons END -->
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                       
                        <!-- <li class="breadcrumb-item active">Dashboard</li> -->
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                                <div class="media">
                                        <!-- IMAGEM -->
                                        <div class="media-left meida media-middle">
                                            <span>
                                                <img src="images/report_graphic_coverage.png" height="52" width="52">
                                            </span>
                                        </div>
                                        <div class="media-body media-text-right">
                                            <h2 id="valor_cobertura_funcional">FUNCTIONAL_PERCENTAGE%</h2>
                                            <p class="m-b-0">Testes Funcionais</p>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                        <span>
                                            <img src="images/report_number_scenarios.png" height="52" width="52">
                                        </span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>FUNCTIONAL_SCENARIOS_NUMBER</h2>
                                    <p class="m-b-0">Total de Cenários de testes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                                <div class="media">
                                        <div class="media-left meida media-middle">
                                            <span>
                                                <img src="images/report_graphic_contract.png" height="52" width="52">
                                            </span>
                                        </div>
                                        <div class="media-body media-text-right">
                                            <h2>CONTRACT_PERCENTAGE</h2>
                                            <p class="m-b-0">Cenários - Testes de Contrato</p>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                                <div class="media">
                                        <div class="media-left meida media-middle">
                                            <span>
                                                <img src="images/report_number_ends.png" height="52" width="52">
                                            </span>
                                        </div>
                                        <div class="media-body media-text-right">
                                            <h2>ENDPOINTS_NUMBER</h2>
                                            <p class="m-b-0">Número de Endpoints</p>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>

                <div class="row bg-white m-l-0 m-r-0 box-shadow ">

                    <!-- column -->
                    <!-- <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Extra Area Chart</h4>
                                <div id="extra-area-chart"></div>
                            </div>
                        </div>
                    </div> -->
                    <!-- column -->

                    <!-- column -->
                    <div class="col-lg-12">
                            <div class="card">
                                <a href="http://localhost:7777/" class="btn btn-success btn-flat m-b-30 m-l-5">Feature Express</a>
                                <div class="card-body browser">
                                    <h4 class="card-title">Cobertura das Funcionalidades</h4>
                                    
                                    <!-- Features -->
                            
    
                                    <div class="container">
                                        <div class="panel-group">
                                            <!-- <div class="panel panel-default"> -->
                                                <div class="panel-heading">
                                                    ALL-FEATURES-AND-SCENARIOS-HERE
                                                </div>
                                        </div>
    
                                    </div>								
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                </div>
                    <!-- <div class="col-lg-9"> -->
                        <div class="card">
                            <div class="card-title">
                                <h4>Sprints Recentes</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nome</th>
                                                <th>Testes Unitários</th>
                                                <th>Testes Funcionais</th>
                                                <th>Testes de Contrato</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           ALL_SPRINTS_METRICS             
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>


                
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Developed by <a href="https://github.com/nathsilv/weaver-report">Nathanael Silva</a></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    <!-- </div> -->
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
     <script src="js/lib/morris-chart/raphael-min.js"></script>
    <script src="js/lib/morris-chart/morris.js"></script>
    <script src="js/lib/morris-chart/dashboard1-init.js"></script>


	<script src="js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/pignose.init.js"></script>

    <script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="js/scripts.js"></script>
    <!-- scripit init-->
   <script src="js/lib/toastr/toastr.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/toastr/toastr.init.js"></script>
    <script src="js/custom.min.js"></script>

</body>

</html>